<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-signin" [formGroup]="registrationForm" (ngSubmit)="register(registrationForm.value)">
            <div class="text-center mb-4">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
                    width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Registration Form</h1>
            </div>

            <ngb-alert [type]="alertClass" (close)="alertMsg = ''" *ngIf="alertMsg" [innerHTML]="alertMsg"></ngb-alert>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" id="name" class="form-control" formControlName="name" placeholder="Name" required
                    autofocus>
                <div *ngIf="registrationForm.controls?.name?.dirty && registrationForm.controls?.name?.errors?.required"
                    class="field_error">
                    Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Email address"
                    required>
                <div *ngIf="registrationForm.controls?.email?.dirty && registrationForm.controls?.email?.errors?.required"
                    class="field_error">
                    Email Is required.
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password"
                    placeholder="Password" required>
                <div *ngIf="registrationForm.controls?.password?.dirty && registrationForm.controls?.password?.errors?.required"
                    class="field_error">
                    Password is required.
                </div>
            </div>

            <div class="form-group">
                <label for="repeatPassword">Repeat Password</label>
                <input type="password" id="repeatPassword" class="form-control" formControlName="repeatPassword"
                    placeholder="Repeat Password" required>
                <div *ngIf="registrationForm.controls?.repeatPassword?.dirty && registrationForm.controls?.repeatPassword?.errors?.required"
                    class="field_error">
                    Repeat Password is required.
                </div>
                <div *ngIf="registrationForm.controls?.repeatPassword?.dirty && registrationForm?.errors?.passwordNotSame"
                    class="field_error">
                    Password doesn't match.
                </div>
            </div>

            <button class="btn btn-lg btn-primary btn-block"
                [disabled]="btnDisabled || registrationForm.status != 'VALID'" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2019-2020</p>
        </form>
    </div>
</div>